__pycache__/
*.pyc
to_delete/

# ganze Verzeichnisse ignorieren
logs/
results/
archive/

# generische Dateimuster
*.xlsx
*.csv
*.md

# Reale Reportdaten ignorieren
data/reports/*
!data/reports/.gitkeep
