# Python-Cache-Verzeichnisse
__pycache__/
*.pyc
to_delete/

# Protokolldateien
logs/
arbeitsprotokoll.txt

# ganze Verzeichnisse ignorieren
results/
archive/

# generische Dateimuster
*.xlsx
*.csv
*.md

# Reale Reportdaten ignorieren
data/reports/*
!data/reports/.gitkeep
